{% extends 'base.html' %}
{% block content%}
<body>
<div>
    <h1 align="left" style="width:100%;"> Add New Elector</h1>
</div>
<form method="POST">
    {% csrf_token %}
    <div>
        {{ form.idCard.errors }}
        {{ form.idCard.label_tag }}
        {{ form.idCard }}

    </div>

    <div>
        {{ form.fullName.errors }}
        {{ form.fullName.label_tag }}
        {{ form.fullName }}

    </div>
    <div>

        {{ form.gender.errors }}
        {{ form.gender.label_tag }}
        {{ form.gender }}

    </div>
    <div>

        {{ form.cad_date.errors }}
        {{ form.cad_date.label_tag }}
        {{ form.cad_date }}

    </div>
    <div>

        {{ form.codelec.errors }}
        {{ form.codelec.label_tag }}
        {{ form.codelec }}

    </div>


    <div>

        {{ form.board.errors }}
        {{ form.board.label_tag }}
        {{ form.board }}

    </div>


    <div>
        <button type="submit"> Save new Elector</button>
    </div>
</form>
</body>
{% endblock %}