.searchbar{
    margin-top:25px;
   margin-left:283px;
   width:100%;
}
.bar{
    border-radius:0;
    -webkit-box-shadow: 2px 3px 0px -2px #ccc;
    padding:10px;
    border:0px;
    outline: none;
    border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #CCC;
}
.bar:hover{
    -webkit-box-shadow: 3px 6px 7px -3px #ccc;
}